<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         processUncoveredFiles="true"
         cacheResult="true"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <directories>
            <directory suffix=".php">app</directory>
        </directories>
        <report>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>

    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>
